site:
  title: Redpanda Docs
  start_page: home:ROOT:index.adoc
  url: https://redpanda-antora-site.netlify.app
urls:
  html_extension_style: indexify
  redirect_facility: netlify
  latest_version_segment: 'current'
  latest_prerelease_version_segment: 'prerelease'
  latest_version_segment_strategy: redirect:to
content:
  sources:
  - url: https://github.com/redpanda-data/documentation
    branches: [main, v/*, home, api, shared, 'site-search']
ui:
  bundle:
    url: https://github.com/redpanda-data/docs-ui/releases/latest/download/ui-bundle.zip
    snapshot: true
asciidoc:
  attributes:
  extensions:
  - '@asciidoctor/tabs'
  - '@redpanda-data/docs-extensions-and-macros/macros/glossary'
  - '@redpanda-data/docs-extensions-and-macros/macros/config-ref'
  - '@redpanda-data/docs-extensions-and-macros/macros/helm-ref'
antora:
  extensions:
  - '@redpanda-data/docs-extensions-and-macros/extensions/version-fetcher/set-latest-version'
  - require: '@redpanda-data/docs-extensions-and-macros/extensions/algolia-indexer/index'
    excludes: ['.thumbs','script', '.page-versions','.feedback-section','.banner-container']
  - require: '@redpanda-data/docs-extensions-and-macros/extensions/unlisted-pages'
  - require: '@redpanda-data/docs-extensions-and-macros/extensions/replace-attributes-in-attachments'
  - require: '@redpanda-data/docs-extensions-and-macros/extensions/add-global-attributes'
  - require: '@redpanda-data/docs-extensions-and-macros/extensions/aggregate-terms'

