site:
  title: Redpanda Docs
  start_page: ROOT:home:index.adoc
  url: https://docs.redpanda.com
  robots: allow
  keys:
    google_analytics: GTM-WB2CSV5
    announcement: false
    announcement-text: 'Save your seat for our August 23 Masterclass:'
    announcement-link-text: 'Day 2 Operations with Redpanda'
    announcement-link: 'https://go.redpanda.com/masterclass-aug23-2023'
urls:
  html_extension_style: indexify
  redirect_facility: netlify
  latest_version_segment: 'current'
  latest_prerelease_version_segment: 'beta'
  latest_version_segment_strategy: redirect:to
output:
  clean: true
content:
  edit_url: 'https://github.com/redpanda-data/documentation/blob/{refname}/{path}'
  sources:
  - url: https://github.com/redpanda-data/documentation-private
    branches: [main, v/*, api, shared, 'site-search']
ui:
  bundle:
    url: https://github.com/redpanda-data/docs-ui/releases/latest/download/ui-bundle.zip
    snapshot: true
asciidoc:
  attributes:
  extensions:
  - '@asciidoctor/tabs'
  - '@redpanda-data/docs-extensions-and-macros/macros/glossary'
  - '@redpanda-data/docs-extensions-and-macros/macros/config-ref'
  - '@redpanda-data/docs-extensions-and-macros/macros/helm-ref'
  - '@redpanda-data/docs-extensions-and-macros/asciidoc-extensions/add-line-numbers-highlights'
antora:
  extensions:
  - '@redpanda-data/docs-extensions-and-macros/extensions/version-fetcher/set-latest-version'
  - require: '@redpanda-data/docs-extensions-and-macros/extensions/algolia-indexer/index'
    excludes: ['.thumbs','script', '.page-versions','.feedback-section','.banner-container']
  - require: '@redpanda-data/docs-extensions-and-macros/extensions/unlisted-pages'
  - require: '@redpanda-data/docs-extensions-and-macros/extensions/replace-attributes-in-attachments'
  - require: '@redpanda-data/docs-extensions-and-macros/extensions/add-global-attributes'
  - require: '@redpanda-data/docs-extensions-and-macros/extensions/aggregate-terms'

